@import '../../styles/variables';

section {
  padding: 100px;
  .container {
    display: flex;
    // flex-direction: row;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  .link-icon {
    font-size: 50px;
    transition: transform 0.15s;
    &:hover {
      transform: scale(1.4);
    }
  }
}

.red {
  background: linear-gradient(to top, $red, $red2);
  color: $white;
}
.white {
  background: $white;
  color: $red2;
  p {
    color: $fontDark;
  }
}

h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.title {
  // background: blue;

  flex: 2;
}

.content {
  flex: 5;
  line-height: 30px;
  letter-spacing: 1px;
}

.icon {
  width: 60px;
  img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1190px) {
  section {
    padding: 50px;
  }
}

@media (max-width: 900px) {
  section {
    .container {
      flex-direction: column;
    }
  }
  .title {
    display: flex;
    align-items: center;
  }
  .icon {
    order: 1;
    margin-right: 20px;
  }
  h2 {
    order: 2;
  }
}

@media (max-width: 415px) {
  section {
    padding: 15px;
  }
}
